.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  max-width: 310px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1080px;
  }
}
