:root {
  --accent-color: #d41443;
  --primary-text-color: #ffffff;
  --secondary-color: #ffa5ba;
  --primary-font-family: 'DM Sans', sans-serif;
  --accent-font-family: 'Titan One', sans-serif;
  --primary-font-style: normal;
  --primary-bg-color: #ffb8ca;
  --secondary-bg-color: #fff5f6;
}
