<section class="section about__section" id="about">
    <div class="container about__container">
        <p class="about__suptitle">tradition and love</p>
        <h2 class="about__title" id="about">how it’s made?</h2>
        <div class="about__box-description">
            <div class="about__left-side">
                <picture>
                    <source srcset="./images/about/about-image-desktop.webp 1x, ./images/about/about-image-desktop@2x.webp 2x"
                        media="(min-width: 1280px)" type="image/webp">
                    <source srcset="./images/about/about-image-desktop.png 1x, ./images/about/about-image-desktop@2x.png 2x"
                        media="(min-width: 1280px)">
            
                    <source srcset="./images/about/about-image-tablet.webp 1x, ./images/about/about-image-tablet@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp">
                    <source srcset="./images/about/about-image-tablet.png 1x, ./images/about/about-image-tablet@2x.png 2x"
                        media="(min-width: 768px)">
            
                    <source srcset="./images/about/about-image-mobile.webp 1x, ./images/about/about-image-mobile@2x.webp 2x"
                        media="(min-width: 480px)" type="image/webp">
                    <source srcset="./images/about/about-image-mobile.png 1x, ./images/about/about-image-mobile@2x.png 2x"
                        media="(min-width: 480px)">
            
                    <img class="about__image" src="./images/about/about-image-mobile.png" alt="milk-and-cow">
                </picture>
            </div>
            <div class="about__rigth-side">
                <p class="about__text about__text_color">Fusce ut velit laoreet, tempus arcu
                    eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
                    Maecenas eleifend erat at justo fringilla.</p>
        
                <p class="about__text">Curabitur lacinia enim at ex blandit, vel pellentesque odio
                    elementum. Mauris rhoncus orci in imperdiet placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                </p>
                <p class="about__text">Aliquam erat volutpat. Aenean accumsan.</p>
                <button type="button" class="about__button button button--white">Read more<svg class="about__button-icon">
                        <use href="./images/sprite.svg#about_button"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>