<section class="advantag section">
  <div class="container">
    <h2 class="advantag__title visually-hidden">Advantages</h2>

    <ul class="advantag__list list">
      <li class="advantag__item">
        <h3 class="advantag__subtitle icon-1">721</h3>
        <p class="advantag__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>

      <li class="advantag__item">
        <h3 class="advantag__subtitle icon-2">16kg</h3>
        <p class="advantag__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>

      <li class="advantag__item">
        <h3 class="advantag__subtitle icon-3">84</h3>
        <p class="advantag__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
