<section class="advantage section">
  <div class="container">
    <h2 class="advantage__title visually-hidden" id="advantages">Advantages</h2>

    <ul class="advantage__list list">
      <li class="advantage__item">
        <h3 class="advantage__subtitle icon-1">721</h3>
        <p class="advantage__text">Healthy cows walk every day and eat well, so that the client receives environmentally friendly, and most importantly
        delicious milk.</p>
      </li>

      <li class="advantage__item">
        <h3 class="advantage__subtitle icon-2">16kg</h3>
        <p class="advantage__text">Every day, fresh fruits are picked specifically for our sustainable dairy product for all tastes.</p>
      </li>

      <li class="advantage__item">
        <h3 class="advantage__subtitle icon-3">84</h3>
        <p class="advantage__text">Еvery hour of work we produce a quality product for our user, so that customers would like to return to us for products.</p>
      </li>
    </ul>
  </div>
</section>
