<footer class="footer">
  <div class="footer__container container">
    <div class="footer__slogan">
      <h2 class="footer__title">homemade ice cream made</h2>
      <p class="footer__text">with passion</p>
    </div>
    <div class="footer__right-side">
      <ul class="social-contacts list">
        <li class="social-contacts__item">
          <a
            class="social-contacts__link link"
            href="https://github.com/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="github"
            title="GitHub"
            ><svg class="social-contacts__icon">
              <use href="./images/sprite.svg#github"></use>
            </svg>
          </a>
        </li>
        <li class="social-contacts__item">
          <a
            class="social-contacts__link link"
            href="https://tlgrm.ru/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="telegram"
            title="Telegram"
            ><svg class="social-contacts__icon">
              <use href="./images/sprite.svg#telegram"></use>
            </svg>
          </a>
        </li>
        <li class="social-contacts__item">
          <a
            class="social-contacts__link link"
            href="https://facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="facebook"
            title="Facebook"
            ><svg class="social-contacts__icon">
              <use href="./images/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="phone-contact">
        Feel free to contact
        <a class="phone-contact__link link" href="tel:+610383766284"
          ><span class="phone-contact__number">+61 (0) 383 766 284</span></a
        >
      </p>
    </div>
  </div>
  <p class="copyright">
    <span class="copyright__text">&copy; 2019 - IceCream.</span
    ><span class="copyright__text"> All Rights Reserved.</span>
  </p>
</footer>
