<section class="section gallery__section" id="gallery">
    <div class="container gallery__container">
        <h2 class="gallery-title visually-hidden">Gallery</h2>
        <picture>
            <source srcset="./images/gallery/gallery-picture-desktop.webp 1x, ./images/gallery/gallery-picture-desktop@2x.webp 2x"
                media="(min-width: 1280px)" type="image/webp">
            <source srcset="./images/gallery/gallery-picture-desktop.jpg 1x, ./images/gallery/gallery-picture-desktop@2x.jpg 2x"
                media="(min-width: 1280px)">
        
            <source srcset="./images/gallery/gallery-picture-tablet.webp 1x, ./images/gallery/gallery-picture-tablet@2x.webp 2x"
                media="(min-width: 768px)" type="image/webp">
            <source srcset="./images/gallery/gallery-picture-tablet.jpg 1x, ./images/gallery/gallery-picture-tablet@2x.jpg 2x"
                media="(min-width: 768px)">
        
            <source srcset="./images/gallery/gallery-picture-mobile.webp 1x, ./images/gallery/gallery-picture-mobile@2x.webp 2x"
                media="(min-width: 480px)" type="image/webp">
            <source srcset="./images/gallery/gallery-picture-mobile.jpg 1x, ./images/gallery/gallery-picture-mobile@2x.jpg 2x"
                media="(min-width: 480px)">
        
            <img src="./images/gallery/gallery-picture-mobile.jpg" alt="Gallery photos" class="gallery__image">
        </picture>
    </div>
</section>