<header class="header">
  <div class="container header__container">
    <nav class="navigation">
      <a href="./index.html" class="logo">
      <img src="./images/logo.svg" alt="logo"></a>
      <ul class="menu list">
        <li class="menu__item">
          <a rel="noopener noreferrer" href="./index.html" class="menu__link link">Home</a></li>
        <li class="menu__item">
          <a rel="noopener noreferrer" href="#product" class="menu__link link">About us</a></li>
        <li class="menu__item">
          <a rel="noopener noreferrer" href="#about" class="menu__link link">How it’s made?</a></li>
        <li class="menu__item">
          <a rel="noopener noreferrer" href="#gallery" class="menu__link link">Our products</a></li>
        <li class="menu__item">
          <a rel="noopener noreferrer" href="#location" class="menu__link link">Contact</a></li>
      </ul>
    </nav>
    <div class="header__mobile-menu">
      <button class="header__mobile-menu-btn" type="button" data-menu-button>
        <svg class="mobile-icon">
          <use href="./images/sprite.svg#burger"></use>
        </svg>
      </button>
      <button class="header-button" type="button">Buy now
        <svg class="button-icon">
          <use href="./images/sprite.svg#arrow"></use>
        </svg>
      </button>
    </div>
    
    </div>
    <div class="mobile-menu" data-menu>
      <button class="mobile-menu-close" type="button" data-menu-close>
        <svg class="mobile-icon-close">
          <use href="./images/sprite.svg#close"></use>
        </svg>
      </button>
      <div class="mobile-menu__container">
        <button class="mobile-menu-btn" type="button">Buy now
          <svg class="mobile-btn-icon">
            <use href="./images/sprite.svg#arrow"></use>
          </svg>
        </button>
        <ul class="mobile-menu__list list">
          <li class="mobile-menu__item">
            <a rel="noopener noreferrer" href="./index.html" class="mobile-menu__link link">Home</a>
          </li>
          <li class="mobile-menu__item">
            <a rel="noopener noreferrer" href="#product" class="mobile-menu__link link">About us</a>
          </li>
          <li class="mobile-menu__item">
            <a rel="noopener noreferrer" href="#about" class="mobile-menu__link link">How it’s made?</a>
          </li>
          <li class="mobile-menu__item">
            <a rel="noopener noreferrer" href="#gallery" class="mobile-menu__link link">Our products</a>
          </li>
          <li class="mobile-menu__item">
            <a rel="noopener noreferrer" href="#location" class="mobile-menu__link link">Contact</a>
          </li>
        </ul>
      </div>
    </div>
</header>
