<section class="hero section">
  <div class="hero__bg-base"></div>
  <div class="container hero__container">

    <div class="hero__left-side">
      <h1 class="hero__title">ice cream made with <span class="hero__accent-title">passion</span></h1>
      <ul class="hero__btn-list list">
        <li class="hero__btn-item"><button class="button button" type="button">Products</button></li>
        <li class="hero__btn-item"><button class="button-white button" type="button">How it's made?</button></li>
      </ul>
      <div class="hero__milk-wrapper">
        <picture class="picture">
          <source srcset="./images/hero/hero-milk-desktop.webp 1x, ./images/hero/hero-milk-desktop@2x.webp 2x"
            media="(min-width: 1280px)" type="image/webp">
          <source srcset="./images/hero/hero-milk-desktop.png 1x, ./images/hero/hero-milk-desktop@2x.png 2x"
            media="(min-width: 1280px)">
          <source srcset="./images/hero/hero-milk-tablet.webp 1x, ./images/hero/hero-milk-tablet@2x.webp 2x"
            media="(min-width: 768px)" type="image/webp">
          <source srcset="./images/hero/hero-milk-tablet.png 1x, ./images/hero/hero-milk-tablet@2x.png 2x"
            media="(min-width: 768px)">
          <img class="hero__milk-img" src="./images/hero/hero-milk-tablet.png" alt="milk-img">
        </picture>
        <p class="hero__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et</p>
      </div>
    </div>

    <div class="hero__right-side">
      <div class="hero__bg-circle"></div>

      <div class="hero__number-wrapper">
      <ul class="hero__numbers-list list">
        <li class="hero__numbers-item">
          <p class="hero__number-descr"><span class="hero__number hero__number-16">16</span>cafes</p>
        </li>
        <li class="hero__numbers-item">
          <p class="hero__number-descr"><span class="hero__number hero__number-23">23</span>food trucks</p>
        </li>
      </ul>
    </div>

      <picture class="picture">
      <source srcset="./images/hero/hero-girl-desktop.webp 1x, ./images/hero/hero-girl-desktop@2x.webp 2x"
        media="(min-width: 1280px)" type="image/webp">
      <source srcset="./images/hero/hero-girl-desktop.png 1x, ./images/hero/hero-girl-desktop@2x.png 2x"
        media="(min-width: 1280px)">
      <source srcset="./images/hero/hero-girl-tablet.webp 1x, ./images/hero/hero-girl-tablet@2x.webp 2x"
        media="(min-width: 768px)" type="image/webp">
      <source srcset="./images/hero/hero-girl-tablet.png 1x, ./images/hero/hero-girl-tablet@2x.png 2x"
        media="(min-width: 768px)">
      <img class="hero__girl-img" src="./images/hero/hero-girl-tablet.png" alt="girl-img">
    </picture>
      <picture class="picture">
      <source srcset="./images/hero/hero-icecream-desktop.webp 1x, ./images/hero/hero-icecream-desktop@2x.webp 2x"
        media="(min-width: 1280px)" type="image/webp">
      <source srcset="./images/hero/hero-icecream-desktop.png 1x, ./images/hero/hero-icecream-desktop@2x.png 2x"
        media="(min-width: 1280px)">
      <source srcset="./images/hero/hero-icecream-tablet.webp 1x, ./images/hero/hero-icecream-tablet@2x.webp 2x"
        media="(min-width: 768px)" type="image/webp">
      <source srcset="./images/hero/hero-icecream-tablet.png 1x, ./images/hero/hero-icecream-tablet@2x.png 2x"
        media="(min-width: 768px)">
      <source srcset="./images/hero/hero-icecream-mobile.webp 1x, ./images/hero/hero-icecream-mobile@2x.webp 2x"
        media="(min-width: 768px)" type="image/webp">
      <source srcset="./images/hero/hero-icecream-mobile.png 1x, ./images/hero/hero-icecream-mobile@2x.png 2x"
        media="(min-width: 768px)">
      <img class="hero__icecream-img" src="./images/hero/hero-icecream-mobile.png" alt="icecream-img">
    </picture>
    </div>
  </div>
</section>