<div class="backdrop locations-backdrop--is-hidden" data-locations-modal>
  <div class="modal-our-locations">
    <button class="modal-our-location__close-btn" type="button" data-locations-close>
      <svg class="close-btn__svg">
        <use class="close-btn__icon" href="./images/sprite.svg#close"></use>
      </svg>
    </button>
    <ul class="city-buttons list">
      <li class="modal-chicago">Chicago</li>
      <li class="modal-los-angeles">Los Angeles</li>
      <li class="modal-new-york">New York</li>
    </ul>
    <div class="google-maps">
      <div class="chicago--pc">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d190256.09898928218!2d-87.87204644148233!3d41.83364785040744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2z0KfQuNC60LDQs9C-LCDQmNC70LvQuNC90L7QudGBLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1621714961728!5m2!1sru!2sua"
          width="900"
          height="600"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        >
        </iframe>
      </div>

      <div class="los-angeles--pc">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d423286.27398945304!2d-118.69191443935257!3d34.02016132021932!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2z0JvQvtGBLdCQ0L3QtNC20LXQu9C10YEsINCa0LDQu9C40YTQvtGA0L3QuNGPLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1621715001203!5m2!1sru!2sua"
          width="900"
          height="600"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>

      <div class="new-york--pc">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.91477198084!2d-74.11976362005403!3d40.69740344165727!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6LCDQodCo0JA!5e0!3m2!1sru!2sua!4v1621715038522!5m2!1sru!2sua"
          width="900"
          height="600"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
    </div>
  </div>
</div>
