<div class="backdrop products-backdrop--is-hidden" data-products-modal>
  <div class="modal-products">
    <button class="modal-products__close-btn" type="button" data-products-close>
      <svg class="close-btn__svg">
        <use class="close-btn__icon" href="./images/sprite.svg#close"></use>
      </svg>
    </button>
    <h2 class="modal-products__title">Our products</h2>
    <p class="modal-products__text-caption">What you should know about our products</p>
    <ul class="modal-products__list list">
      <li class="modal-products__item">
        <p class="modal-products__text">
          <span class="modal-products__text_bolt">Ice cream.</span> The composition of the product
          is nothing superfluous: whole milk, cream from cow's milk, sugar cone, butter, water,
          sugar, filler blueberry, powdered whole milk and skimmed milk, chocolate glaze with
          vegetable fat, gelling agent - edible gelatin.
        </p>
      </li>
      <li class="modal-products__item">
        <p class="modal-products__text">
          <span class="modal-products__text_bolt">Ice coffee.</span> The composition of the product
          is nothing superfluous: scoops of ice cream, brewed coffee, 150 ml water, natural milk,
          cream, cane sugar and condensed milk. Ice coffee can be served both chilled and still hot,
          but with the required amount of ice.
        </p>
      </li>
      <li class="modal-products__item">
        <p class="modal-products__text">
          <span class="modal-products__text_bolt">Milkshakes.</span> An organic milkshake contains
          twice as much protein as regular milk and most similar milkshakes. It is a natural source
          of vitamins and minerals. Milkshakes are made from organic milk collected from farms, only
          natural flavors are used in the production of the cocktail, and they are not too sweet.
        </p>
      </li>
    </ul>
  </div>
</div>
