<div class="backdrop about-backdrop--is-hidden" data-about-modal>
  <div class="modal-about">
    <button class="modal-about__close-btn" type="button" data-about-close>
      <svg class="close-btn__svg">
        <use class="close-btn__icon" href="./images/sprite.svg#close"></use>
      </svg>
    </button>
    <h2 class="modal-about__title">Ice cream production. Stages and their features</h2>
    <p class="modal-about__description">
      The technological process of ice cream production includes the following stages:
    </p>
    <ul class="modal-about__list list">
      <li class="modal-about__item">
        <p class="modal-about__text">
          <span class="modal-about__text_bolt">Preparation of the mixture.</span> At this stage, dry
          components are introduced into the liquid water-milk base, which is preheated to 40-45 °
          C.
        </p>
      </li>
      <li class="modal-about__item">
        <p class="modal-about__text">
          <span class="modal-about__text_bolt">Filtration.</span> This step is necessary to ensure
          the homogeneity of the mixture and the absence of foreign industrial impurities in it.
        </p>
      </li>
      <li class="modal-about__item">
        <p class="modal-about__text">
          <span class="modal-about__text_bolt">Pasteurization.</span> The quality of the final
          product largely depends on this process and the way it is implemented. Pasteurization
          promotes better mixing of all components, as well as disinfection of the product.
          Traditionally, the ice cream mix is ​​pasteurized at a temperature of 88 to 92 ° C,
          however, other pasteurization modes can be used, which ensure a high-quality and safe
          product.
        </p>
      </li>
      <li class="modal-about__item">
        <p class="modal-about__text">
          <span class="modal-about__text_bolt">Homogenization.</span> At this stage, the fat
          particles are crushed, which increases the homogeneity and viscosity of the product. A
          disturbed homogenization process can lead to the appearance of fat lumps and ice crystals
          in the finished product. The optimum temperature for homogenization is from 60 to 65 ° C,
          and the pressure is from 10 to 15 MPa.
        </p>
      </li>
      <li class="modal-about__item">
        <p class="modal-about__text">
          <span class="modal-about__text_bolt">Cooling.</span> After homogenization, it is necessary
          to immediately cool the mixture to a temperature of 2 to -4 ° C. Depending on which ice
          cream stabilizers were used and their characteristics, this stage can take from 2 to 24
          hours. If we are talking about fermented milk ice cream, then after homogenization, it is
          important to create favorable conditions (30-32 ° C) for the development of
          microorganisms, which are introduced into the mixture when the starter culture is added to
          it. Under the influence of the starter culture, the product is fermented for 10-12 hours.
          Then the product is cooled and sent for maturation.
        </p>
      </li>
      <li class="modal-about__item">
        <p class="modal-about__text">
          <span class="modal-about__text_bolt">Maturation of the product.</span>This step is
          necessary to ensure the optimum consistency of the whipping mix and is mandatory in the
          production of ice cream containing a stabilizer such as gelatin. Depending on the selected
          temperature regime, the product will take from 24 to 48 hours to ripen..
        </p>
      </li>
      <li class="modal-about__item">
        <p class="modal-about__text">
          <span class="modal-about__text_bolt">Freezing.</span> At this stage, the mixture is
          whipped, i.e. saturated with air. For different types of ice cream, there are indicators
          of optimal overrun, they can be from 40 to 90%.
        </p>
      </li>
      <li class="modal-about__item">
        <p class="modal-about__text">
          <span class="modal-about__text_bolt">Hardening.</span> Almost finished ice cream is placed
          in chambers with temperatures down to -37 ° C. After that, the hardened product is sent to
          storage.
        </p>
      </li>
    </ul>
  </div>
</div>
