<section class="product section" id="product">
  <div class="container">
    <p class="product__title-lable">100% natural</p>
    <h2 class="product__title" id="products">products</h2>

    <ul class="product__list list">
      <li class="product__item">
        <h3 class="product__subtitle icecream">Ice cream</h3>
        <p class="product__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button class="button product__btn" type="button" data-products-open>
          <img src="../src/images/products/btn-arrow-icon.png" />
        </button>
      </li>

      <li class="product__item">
        <h3 class="product__subtitle icecoffee">Ice coffee</h3>
        <p class="product__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button class="button product__btn" type="button" data-products-open>
          <img src="../src/images/products/btn-arrow-icon.png" />
        </button>
      </li>

      <li class="product__item">
        <h3 class="product__subtitle milkshakes">Milkshakes</h3>
        <p class="product__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button class="button product__btn" type="button" data-products-open>
          <img src="../src/images/products/btn-arrow-icon.png" />
        </button>
      </li>
    </ul>
  </div>
</section>
