.section {
  &__suptitle {
    font-family: 'Titan One', sans-serif;
    @include font(30px, 400, 1.13, 0.04em);
    text-align: center;
    text-transform: uppercase;
    color: var(--secondary-color);
    margin-bottom: 16px;
  }

  &__title {
    font-family: 'Titan One', sans-serif;
    @include font(58px, 400, 1.13, 0.04em);
    text-align: center;
    text-transform: uppercase;
    color: var(--accent-color);
    margin-bottom: 26px;
  }
}

.about__section {
  padding-top: 126px;
  padding-bottom: 20px;
  background-color: var(--secondary-bg-color);
  @media screen and (max-width: 767px) {
    background-image: url(../images/about/about-background-image-mobile.png);
    background-position: center bottom 60px;
    background-repeat: no-repeat;
    background-size: 100% 133px;
    // background-size: cover;
  }
  @media (min-device-pixel-ratio: 2) and (max-width: 767px),
    (min-resolution: 192dpi) and (max-width: 767px),
    (min-resolution: 2dppx) and (max-width: 767px) {
    background-image: url(../images/about/about-background-image-mobile@2x.png);
    background-position: 0 100%;
    background-repeat: no-repeat;
  }

  // @media screen and (min-width: 1280px) {
  //   background-image: url(../images/about/about-background-image-desktop.png);
  //   // background-position: 0 100%;
  //   background-repeat: no-repeat;
  //   background-size: cover;
  // }
  // @media (min-device-pixel-ratio: 2) and (min-width: 1280px),
  //   (min-resolution: 192dpi) and (min-width: 1280px),
  //   (min-resolution: 2dppx) and (min-width: 1280px) {
  //   background-image: url(../images/about/about-background-image-desktop@2x.png);
  // }
}
.about__image {
  margin-bottom: 46px;
}

.about-box-description {
  @include font(12px, 500, 1.62, 0.03em);

  &__text {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 14px;
    text-align: left;
    color: #907e82;
  }

  &__text_color {
    margin-bottom: 32px;
    color: #000000;
  }
}

.about__button {
  margin-top: 18px;
  color: var(--accent-color);
  background-color: var(--primary-text-color);
  @include font(14px, 700, 1.28, 0.03em);
  width: 176px;
  height: 44px;
  border: none;
  border-radius: 22px;
}
