.header {
  background: var(--primary-bg-color);
}
@media screen and (max-width: 1279px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 10px 20px;
  }
  .header__mobile-menu-btn {
    border: none;
    cursor: pointer;
    background-color: transparent;
  }
  .mobile-menu__container {
    height: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 38px;
  }
  .header__mobile-menu {
    display: flex;
  }
  .header__mobile-menu-btn {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .header__mobile-menu-btn {
    display: none;
  }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.menu {
  display: none;
  @media screen and (min-width: 1280px) {
    display: inline-flex;
    &__item:not(:last-child) {
      margin-right: 35px;
    }
    &__link {
      @include font(14px, 700, 1.28, 0.03em);
      color: var(--primary-text-color);
      &:hover,
      &:focus {
        color: rgba(212, 20, 67, 1);
      }
    }
  }
}
.mobile-menu-close {
  position: absolute;
  top: 23px;
  right: 28px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transform: translateX(-100%);
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  background-color: #e17992;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-btn {
  color: var(--accent-color);
  @include font(16px, 700, 1.31, 0.03em);
  width: 209px;
  height: 44px;
  cursor: pointer;
  border-radius: 22px;
  margin-bottom: 20px;
  border: none;
  margin-top: 60px;
}
.mobile-btn-icon {
  width: 10px;
  height: 10px;
}
.mobile-icon {
  width: 20px;
  height: 12px;
}
.mobile-icon-close {
  width: 14px;
  height: 14px;
}
.mobile-menu {
  &__list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  &__item {
    border-top: 1px solid #e18298;
    border-bottom: 1px solid #e18298;
    padding: 12px 20px;
  }
  &__link {
    @include font(14px, 700, 1.28, 0.03em);
    color: var(--primary-text-color);
    &:hover,
    &:focus {
      color: rgba(212, 20, 67, 1);
    }
  }
}
