.hero {
  background-color: var(--primary-bg-color);
}
.hero-title {
  font-weight: 400;
  font-size: 38px;
  line-height: 44px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}
